/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-yellow: #FDF21E;
    --color-dark-yellow: #FAC62A;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size of space and border */

    --padding-size: 12px;
    --margin-size: 12px;
    --border-radius: 4px;
    
    /* animation */
    
    --animation-trasition: 300ms all;
          
}

/* Typography */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

section {
    text-align: center;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
  
h3 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
  
h4 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}
  
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

li {
    list-style: none;
}

/* navbar */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding: var(--padding-size);
    justify-content: space-between;
    align-items: center;
}

.nav__title {
    font-size: var(--font-regular);
    color: var(--color-black);
    font-weight: var(--weight-semi-bold);
}

.nav__menu {
    display: flex;
    color: var(--color-black);
}

.nav__menu li {
    cursor: pointer;
    margin: calc(var(--margin-size) / 2);
    padding: calc(var(--padding-size) / 2);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    transition: var(--animation-trasition);
}

.nav__menu li.active {
    border: 1px solid var(--color-black);
}

.nav__menu li:hover {
    border: 1px solid var(--color-black);
}

/* home */

#home {
    background: url(images/home-background.png);
}

#home .home__avatar {
    margin-top: 80px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

#home .home__title {
    color: var(--color-black);
}

#home .home__description {
    color: var(--color-black);
}

#home .home__btn {
    font-size: var(--font-regular);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-black);
    background: none;
    margin: calc(var(--margin-size) * 2) 0;
    color: var(--color-black);
    padding: calc(var(--padding-size) / 2);
    cursor: pointer;
    font-weight: var(--weight-semi-bold);
    transition: var(--animation-trasition) ease-in-out;
}

#home .home__btn:hover {
    background-color: var(--color-black);
    color: #a3b57b;
}